.mainheading{
    font-size: larger;
text-align: center;
font-family:'Times New Roman', Times, serif    

}
/* header
 */


/* items */
.main{background-color: rgb(255, 255, 255);
    box-sizing: border-box;
       padding:10px  5%;
    display:grid;
  
     grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
column-gap: 10px;
row-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));

}


.items .card {
    width: 400px;
    background: rgb(248, 243, 243);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.items .card .desc {
    padding: 5px 20px;

    opacity: 0.8;
}
.items .card .title{
    font-weight: 900;
    font-size: 20px;
    color: rgb(63, 63, 63);
    padding:0 20px;
}
.items .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center
;
padding: 20px;
}
.items .card .box .price{
    font-size: 20px;
    font-weight:bold ;
    color: rgb(245, 165, 245);
}
.items .card .box  .btn{
    font-size: 13px;
    color: rgb(245, 165, 245);
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid rgb(245, 165, 245);
border-radius: 20px;
}
.items .card .box  .btn:hover{cursor: pointer;
    background-color: tomato;
    color: aliceblue;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} */

 .footerarea{
   margin-top: 100px;
   padding: 100px 0;
     background-color:#f5f5f5 ;
}
.mainfooter{
   width: 1300px;
   margin: 0 auto;
}
.footer{
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   flex-wrap: wrap;

}
.singlefooter{
   width: 230px;
}
.singlefooter:first-child{
   /* width: 380px; */
}
.singlefooter h4{
   text-transform: capitalize;
   font-size: 22px;
   margin-bottom: 20px;
}
.singlefooter a i {
   color: rgb(7, 7, 7);
   border: 1px solid rgb(0, 0, 0);
   width: 40px;
   height: 40px;
   display:inline-block;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   margin-right: 10px;
}
.singlefooter ul{
   list-style: none;
}
.singlefooter ul li {
   margin-bottom: 10px;
   position: relative;
   padding-left: 10px;
}
.singlefooter ul li a {
   color: darkslategrey;
   text-transform: capitalize;
   text-decoration: darkslategrey;
}
.aboutus{
  display:inline-block;
  border-radius: 50%;
  margin-right: 10px;
}
.copy{
   text-align: center;
   text-transform: capitalize;
   margin-top: 50px;
} 
